.footer{
  position: absolute;
  min-width: 1920px;
  height: 162px;
  left: 0;
  top: 3900px;
  background: #54BFC9;
}
.footer-logo{
  position: absolute;
  width: 196.05px;
  height: 162px;
  left: 20px;
  top: 1px;
}
.copyright{
  position: absolute;
  width: 402px;
  height: 18px;
  left: 74.31%;
  top: 77px;

  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */

  text-align: center;

  color: #F9F9FF;
}
