.player-desc {
  height: 1104px;
  left: 188px;
  position: absolute;
  top: 0;
  width: 1268px;
}

.player {
  position: absolute;
  width: 812px;
  height: 1104px;
  left: 98px;
  top: 0;
}

.nftdesc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  position: absolute;
  width: fit-content;
  height: 478px;
  left: 714px;
  top: 241px;

}

.paragrah {
  position: relative;
  width: 594px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 86px;
  line-height: 80px;
  /* or 92% */
  text-align: right;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
  height: 238px;
}

.description {
  position: absolute;
  width: 632px;
  height: 120px;

  /* Body/Default */

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  display: flex;
  text-align: right;

  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
  top: 315px;
}

.start {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  font-family: 'DM Sans', sans-serif;
  background: #54BFC9;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  color: #FFFFFF;
  /* Inside auto layout */
  height: 54px;
  width: 138px;
  left: 463px;
  top: 494px;
  padding: 18px 24px 18px 24px;
  text-align: center;
  position: absolute;
  font-size: 16px;
  font-weight: 700;
}

