<div class=menu-items fxLayout="row" fxLayoutGap="20px">
  <div>
    <img class="sphere" src="assets/Group 39753.png">
    <div>
      <button class="btnLogin"><img class="lock" src="../../assets/lock.png"><img class="usericon"
                                                                                  src="assets/Group 39742.png"
                                                                                  alt="userIcon">
        <div class="btnLoginTxt">LOGIN</div>
      </button>
    </div>
  </div>
  <div>
    <button class="btnFlashCal"><img class="calender" src="../../assets/Image 3306.png"><img class="flashCalender"
                                                                                             src="assets/Group 39743.png"
                                                                                             alt="flashCal">
      <div class="btnCalTxt">FLASH CALANDER</div>
    </button>
  </div>

  <div>
    <button class="btnTmtAnalysis"><img src="../../assets/Other 19analysis.png"><img class="flashAnalysis"
                                                                                     src="assets/Group 39744.png"
                                                                                     alt="flashAnalysis">
      <div class="btnFlashAnalysis">TOURNAMENT ANALYSIS</div>
    </button>
  </div>
  <div>
    <button class="btnQuickUpdate"><img src="../../assets/Image%201806.png"><img class="flashQuickUpdate"
                                                                                 src="assets/Group%2039745.png"
                                                                                 alt="flashQuickUpdate">
      <div class="btnFlashQuickUpdate">QUICK UPDATES</div>
    </button>
  </div>
  <div>
    <button class="btnHandBook"><img src="../../assets/Image%202111.png"><img class="flashHandBook"
                                                                                 src="assets/Group%2039748.png"
                                                                                 alt="flashHandBook">
      <div class="btnFlashHandBook">FLASH HANDBOOKS</div>
    </button>
  </div>
  <div>
    <button class="btnAccountVal"><img src="../../assets/Casual%20life%203D%20-%20313.png"><img class="flashAccountVal"
                                                                                                 src="assets/Group%2039747.png"
                                                                                                 alt="flashAccountVal">
      <div class="btnFlashAccountVal">ACCOUNT VALUATION</div>
    </button>
  </div>
  <div>
    <button class="btnYoutube"><img src="../../assets/Image%20261.png"><img class="flashYoutube"
                                                                                src="assets/Group 39746.png"
                                                                                alt="flashYoutube">
      <div class="btnFlashYoutube">JOIN OUR YOUTUBE CHANNEL</div>
    </button>
  </div>
  <div>
    <button class="btnContact"><img src="../../assets/Image%201316.png"><img class="flashContact"
                                                                                 src="assets/Group 39749.png"
                                                                                 alt="flashContact">
      <div class="btnFlashContact">CONTACT US</div>
    </button>
  </div>

</div>

