<div class="news">
  <div class="letter"><img src="assets/Image%202931.png"></div>
  <div class="letterBox"><img src="assets/Mailbox.png"></div>
  <div class="subscribe-div" fxLayout="row">
    <h2 class="heading">Subscribe to our weekly email newsletter</h2>
    <div class="email-enter">Enter you email</div>
    <button class="subscribe-button">
      <div class="subscribe-text">SUBSCRIBE</div><img class="arrow" src="assets/Arrow%20Right.png">
    </button>
  </div>
  <div class="divider3"><img src="assets/Divider_email.png"></div>
  <img class="circle" src="assets/circle.png"><div class="join-user-text">Join the 10,000 users in our newsletter</div>
</div>
