.logo {
  position: absolute;
  left: 20px;
  top: 16px;
  width: 204px;
  object-fit: cover;
  height: 75px;
}

.menu {
  height: 54px;
  left: 154px;
  position: relative;
  top: 27px;
  width: 1310px;
  float: right;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0 0 25px;
  gap: 24px;

  position: absolute;
  left: 46.31%;
  bottom: 0;
  width: 651px;
  height: 62px;
  order: 0;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

.nav-bar > a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.contact-us {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 18px 24px;
  gap: 8px;

  width: 130px;
  height: 54px;

  background: #54BFC9;
  /* Neutral Colors/Color 600 */

  border: 1px solid #D4D2E3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  flex: none;
  order: 1;
  flex-grow: 0;
  /* identical to box height, or 112% */

  text-align: center;

  color: #FFFFFF;
}
