<div class="testimonial-background">
  <div fxLayout="column" fxLayoutGap="30">
    <div><h2 class="heading-2">What our client say</h2></div>
    <div><p class="testimonial-desc">Check what our clients have to say about our work!</p></div>
    <div fxLayout="row">
      <div class="twitter">
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Experience purchases &gt; Material purchases<br> - <a
          href="https://twitter.com/lauriesantos?ref_src=twsrc%5Etfw">@lauriesantos</a></p>&mdash; camohan.eth
          (@camohan2020) <a href="https://twitter.com/camohan2020/status/1350445774916632576?ref_src=twsrc%5Etfw">January
            16, 2021</a></blockquote>
        <script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div>
      <div class="testimonial-title">“An amazing service”</div>
      <div class="testimonial-paragraph"><p>Crictrix has changed my flash journey. I used to be so fucked up before,
        making 1.5x batter with bowler POTD. Crictrix took care of it all. I don’t miss swaps anymore. If your are new
        to FC Flash. Do take premium service from Crictrix</p></div>
        <div class="testimonial-name">CA Mohan aka Gaumzi bhai</div>
        <div class="testimonial-role">Senior Accountant at Oracle</div>
      </div>
    </div>
  </div>
  <img src="assets/Succes.png">
</div>
