/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  background: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 1440px;
  margin: 0;
  padding: 0;
}
